/*RESET CSS SE APLICA A TODO EL DOCUMENTO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Love Ya Like A Sister', cursive;
}

a , li {
    display: inline-block ;
    list-style: none;
    font-style: none;
    text-decoration: none;
}

main {
    min-height: 100vh;
}